{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
    <h1>Episode</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ episode.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ episode.title }}</td>
        </tr>
        <tr>
            <th>Number</th>
            <td>{{ episode.number }}</td>
        </tr>
        <tr>
            <th>Synopsis</th>
            <td>{{ episode.synopsis }}</td>
        </tr>
        </tbody>
    </table>
    <a href="{{ path('episode_index') }}">
        <button class="btn btn-dark">Retour</button>
    </a>

    <a href="{{ path('episode_edit', {'slug': episode.slug}) }}">
        <button class="btn btn-dark">Modifier</button>
    </a>

    {{ include('episode/_delete_form.html.twig') }}
    <h2>Les commentaires</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Utilisateur</th>
            <th>Note</th>
            <th>Commentaire</th>
        </tr>
        </thead>
        <tbody>
        {% for comment in episode.comments %}
            <tr>
                <td>{{ comment.author.email }}</td>
                <td>{{ comment.rate }}</td>
                <td>{{ comment.comment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if app.user %}
        <h3>Ajouter un commentaire</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">{{ button_label|default('Créer') }}</button>
        {{ form_end(form) }}
    {% else %}
        <h4>Veuillez-vous <a href="{{ path('app_login') }}">connecter</a> pour pouvoir écrire un commentaire</h4>

    {% endif %}

{% endblock %}
