{% extends 'base.html.twig' %}
{% block body %}
    <h1>{{ program.title }} Saison {{ season.nbseason }}</h1>
        <p>Episode {{ episode.number }} : {{ episode.title }}</p>
    <p>{{ episode.synopsis }}</p>
    <a href="{{ path('wild_showProgram', {'slug':program.title|replace({' ':'-'}) |lower})}}"><button class="btn btn-dark">
        Retour à la série
        </button></a>
    <a href="{{ path('show_season', {'id':season.id})}}"><button class="btn btn-dark">
        Retour à la saison
        </button></a>
{% endblock %}
