{% extends 'base.html.twig' %}
{% block body %}
<h1>{{ program.title }} Saison {{ season.nbseason }}</h1>
{% for episode in episodes %}
    <p>Episode {{ episode.number }} : {{ episode.title }}</p>

{% endfor %}
    <a href="{{ path('wild_showProgram', {'slug':program.title|replace({' ':'-'}) |lower})}}">
        Retour
    </a>
{% endblock %}
